#TitleName{
    font-size: 32pt;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}


.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 5%
}

.cactus-image{
    width: 90%;
    height: 90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.image{
    width: 25%;
    height: 25%;
}

.header{
    margin-top: 5%;
    padding-top: 2.5%;
    font-size: 24pt;
    text-align:center;
}

.image-header{
    text-align: center;
    font-size: 20pt;
}

.infographic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    height: auto;
}

.image-caption{
    text-align: center;
    font-size: 18pt;
}

.small_header{
    padding-top: 2.5%;
    font-size: 20pt;
    text-align:center;
}

li{
    margin: 20px 0;
}


.text{
    font-size: 18pt;
    margin-left: 20%;
    margin-right: 20%;
}

.row{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.column{
    float:left;
    width:50%;
}
